body {
    font-family: monospace;
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    gap: 530px;
}
